<div class="container">
  <div class="row features" >
    <div class="col-sm-4 feature text-center" >
      <div class="c100  p{{parameters.temperature}} orange text-center" >
        <span>{{parameters.temperature}} &deg;</span>
        <span class="caption">Temperature</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="c100  p{{parameters.current}} green ">
        <span>{{parameters.current}} A</span>
        <span class="caption">Current</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="c100 medium p{{parameters.voltage}} green ">
        <span>{{parameters.voltage}} V</span>
        <span class="caption">Voltage</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="c100 medium p{{parameters.humidity}} green ">
        <span>{{parameters.humidity}} %</span>
        <span class="caption">Humidity</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="c100 medium p{{parameters.power}} green ">
        <span>{{parameters.power}} W</span>
        <span class="caption">Power</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="c100 medium p{{parameters.efficiency}} green ">
        <span>{{parameters.efficiency}} %</span>
        <span class="caption">Efficiency</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>

  </div>

</div>
